# ======================
# ANGULAR / NODE
# ======================
node_modules/
.angular/
dist/

# ======================
# SPRING BOOT / JAVA
# ======================
target/
*.log

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db